# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.DPFL.iml
# Datasource local storage ignored files
/../../../../../../../../:\Files\Programming\Discord\DPFL\.idea\.idea.DPFL\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
